body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background: #fff;
  font-size: 13px;
}

#filters {
  margin: 0 auto;
  width: 750px;
  -webkit-box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.5);
box-shadow: 0px 2px 5px 4px rgba(0,0,0,0.5);
 margin-top: 6%;
 padding: 30px;
 color: #333;
}
#filters ul {
  list-style: none;
}
#filters input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}
#filters .filter-checkboxes {
	border-bottom: 1px solid #DDD;
}
#filters .filter-checkboxes .col-md-6:first-child {
	border-right: 1px solid #DDD;
}
#filters .hhtLnT ul li {
	background: #FFF;
	padding: 10px 0;
	cursor: pointer;
}
#filters .hhtLnT ul li > div:after{
	content: "\f0c9";
	font-family: fontAwesome;
	position: absolute;
	right: 32px;
	padding-top: 5px;
	color: #CCC;
}
#filters .hhtLnT ul li .placeholder {
	background: #EEE important;
}
#filters .hhtLnT ul li .placeholder:before {
	content: '';
}
#filters .text-right {
	padding: 30px 0 0px;
}
#filters .text-left #output {
	top: 50%;
	position: relative;
}